/* zu viele Bereiche sind einzeln eingefärbt, deshalb alle auf transparent setzen */
* {
    background-color: var(--reset-bg) !important;
}


body,
main,
footer,
.foundation-root.container,
div[class^="skins-shell-wrapper-"],
div[class^="SearchBarXdl-SearchBar-suggestions-"],
.SettingsDropdownList-SettingsDropdownList-itemList-3dafcb00,
.src-ModalContent-base-9d0ba1a7{
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    font-family: sans-serif !important;
}

/* Etwas höflicher ######################################################################## */
#people > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1),
#from_user > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1){
     visibility: hidden;
    position: relative;
}
#people > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Von Ihren Kontakten";
}
#from_user > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1):after  {
      visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Ihre Beiträge";
}
/* ########################################################################################## */
.text,
input {

    background-color: var(--input-color) !important;
}


header {
    color: var(--header-text) !important;
    background-color: #18242B !important;
    font-family: sans-serif !important;
}

div.styles-grid-row-d520b127:nth-child(1) {
    border: 0px !important;
}

div[class^="Startpage-Startpage-topBlock-"] {
    border-color: transparent !important;
}


/* kontaktanfregen */
.malt-grid-index-col-487cf784 {
    margin: 0px;
}
.malt-grid-index-grid-cd8a955e {
    padding: 0px;
}
li.ListItem-ListItem-listItem-0d443f40 {
    margin-bottom: 1em;
}


section[id^="contacts_contact_confirm"],
.hovercard positioning-above-left,
li.ListItem-ListItem-listItem-0d443f40,
.malt-grid-index-c-12-5b9e8c8c > div:nth-child(2),
div.Tile-Tile-tile-5fa1157e,
.component-layout-card,
.lightbox-handle,
.comm-navigation-dropdown,
.dropdown,
#new-post-form,
nav[class^="VerticalNavigation-VerticalNavigation-nav-"],
nav[class^="Startpage-Startpage-navBar-"],
div[class^="Card-Card-card-dd"],
div[class^="card-CardShell-card"],
div[class^="recommendation-list-recommendation-list-posting"],
div[class^="recent-search-recent-search-container"],
div[class^="main-main-main-"],
div[class*="SpokeHeader-SpokeHeader-container-"],
div[class^="src-ModalWindow-base-"]
{
    background-color: var(--card-color) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--border-radius);
    padding: 1em;
    border: solid 1px var(--border-color) !important;
}


div[class^="entryOverview-entryOverview-button-"],
.presentational-chat-list-list-fe9022c5 {
    background-color: white !important;
    border: 0px !important;
}


div[class^="entryOverview-entryOverview-wrapperForS-"] {
    margin-bottom: 1em
}

.CardGrid-CardGrid-card-f4151da6 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


nav[class^="VerticalNavigation-VerticalNavigation-nav-"] {
    margin: 1em !important;
    padding: 1em !important;
}

a[class^="NavItem-NavItem-link-"] {
    border-radius: var(--border-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
a[class^="NavItem-NavItem-link-"]:hover {
    color: var(--nav-hober-text);
    background-color: var(--nav-hover-bg) !important;
    border-radius:var(--border-radius);
}
flag-premium-flag-0ab5780a

.klartext-archive__item {
    margin: 1em;
}

/* Nachricht schreiben - iframe ============================================= */
.flyout-button-flyout-button-body-44744b4a {
    background-color: rgba(0,0,0,0) !important;
}


/* buttons  reset =====================================++==================== */
button,
.button-ButtonShell-button-fd31136a {
    border: 1px solid var(--button-border) !important;
    border-radius: var(--button-radius) !important;
    background-color: var(--button-bg) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s 
   
}
button:hover {
    background-color: var(--button-hover-bg) !important;
}



/* chart Profilbesucher */
.Line-Line-line-83a2d26b {
    stroke: var(--line-color);
}

/* premium */
.displayFlag-displayFlag-clickableBadge-f36380a7,
.PremiumPopOver-PremiumPopOver-wrapper-b2b9c835 > button:nth-child(1) {
    background: var(--flag-color); 
}

.flag-FlagShell-text-a676758e,
.typography-TextShell-text-a647b5ac,
.PremiumPopOver-PremiumPopOver-wrapper-b2b9c835 > button:nth-child(1) {
     color: var(--flag-text) !important;
}

/* cookie =================================================================== */
.cookie-consent-CookieConsent-container-0bbad4c7 {
    color: white;
    background-color: #006567 !important;
}

/* suchleiste =============================================================== */
input {
    border-radius: var(--input-radius) !important;
}
button[class^="SearchInput-SearchInput-button-"] {
    left: 0px !important;
}
button[class^="button-ButtonShell-button-"] {
    height: 42px !important;
    border: 0px !important;
}


span[class^="badge-BadgeShell-badge"],
span[class^="IconWithBadge-IconWithBadge-notification"],
span[class^="skins-notificationCount-badge-"],
span[class^="skins-small-badge-"]
{
    background-color: var(--badge-bg) !important;
    border: 1px solid var(--badge-border) !important;
}
/* chat ===================================================================== */
.message-bubble-message-bubble-bubble-2d9feb37 {
    background-color: var(--message-rcv-color) !important;
}
.message-bubble-message-bubble-currentUser-44aeb208 {
    background-color: var(--message-send-color) !important;
}

.presentational-chat-footer-footer-ec5d1933 {
	background-color: var(--message-footer-bg) !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}



.presentational-chat-list-item-header-5d583be2 {
    background-color: var(--message-list-header) !important;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.2em;
    margin-bottom: 1em;
}
.presentational-chat-list-item-datetime-87eacb65 {
    color: white !important;
}

.presentational-chat-footer-composer-7a7aaaed {
    border-radius: var(--border-radius);
    border: 1px solid silver;
}

.presentational-chat-content-emojiPicker-4361228d {
    background-color: white !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

/* events */
.benefits-box-plus {
    background-color: rgba(255,255,255,0.9) !important;
    border-radius: var(--border-radius)
}
.benefit-header  {
    background-color:  #006567  !important;
    border-radius: var(--border-radius)
}

