@-moz-document domain("xing.com") {
/* Achtung!
Für Mithelfer - es gibt viele Eigenarten im Quellext auf der XING-Seite:

- nicht jedes sichtbare Element, auf verschiedenen Seiten, hat die gleichen CLASSen
- viele Links sind in Buttons eingebaut
- einige große Elemente, wie z.B. in Stationen der Berufserfahrung sind ebenfalls Buttons
- einige Links funktionieren nur über Script
- die Klassen auf den einzelnen Seiten sind oft vollkommen verschieden
- die Klassen sind so vielfältig und unübersichtlich. Deren Verwendung ähnelt style="..."
- Inhalt und Layout Trennung ist nicht wirklich gebeben.
- Die meisten Größenangaben sind px oder Berechnet.
- Buttons mit Bildern sind meist eine Kombination aus mehreren DIVs / SVG und Link!
- Die meisten SVGs sind Inline!
- Die Fotos aller Personen sind in eine SVG eingebaut. Der Rand (ähnelt einem frühen Röhrenfernseher)
ist leider durch diese SVG vorgegeben.
*/


:root {
    --reset-bg: transparent;
    --reset-txt: #444;
    
    /* reset für alles */
    --border-radius: 0.3em/* header */
    --header-bg: #18242B;
    --header-text: #fff;

    /* alles andere */
    --text-color: #777;
    --bg-color: #F4F5F5;

    --card-color: white;
    --border-color: rgba(0, 0, 0, 0.05);

    --nav-hover-bg: #B0D400;
    --nav-hober-text: #006567;

    /* mitteilungen */
    --event-contact: #006567;
    --event-contact-req: rgba(255, 0, 0, 0.5);
    --event-invitation: rgba(0, 128, 255, 0.5);
    --event-comment: rgba(255, 128, 0, 0.5);
    --event-like: rgba(0, 200, 128, 0.5);
    --event-visit: rgba(0, 0, 0, 0.15);
    --event-birth: #fccd4d ;

    /* badges */
    --badge-bg: #006567;
    --badge-border: #B0D400;

    /* besuchertrend */
    --line-color: #006567;

    /* messages */
    /* list header */
    --message-list-header: #006567;
    --message-quick: rgba(255,200, 0, 0.4);

    /* eigene Nachricht */
    --message-send-color: #006567;
    /* empfangene Nachricht */
    --message-rcv-color: #fff;

    /* footer */
    --message-footer-bg: #fff;


    /* formulare */
    --input-color: rgba(255, 255, 255, 0.9);
    --input-radius: 0.3em;

    --button-border: rgba(0, 0, 0, 0.2);
    ;
    --button-radius: 0.3em;
    --button-bg: #eee;
    --button-hover-bg: rgba(0,0,0,0.05);

    /* basic, premium usw. */
    --flag-text: #000;
    --flag-color: linear-gradient(-45deg, #fceabb 0%, #fccd4d 44%, #f8b500 51%, #fbdf93 100%)
}
}

@-moz-document domain("xing.com") {
@media print {

    * {
        color: #000 !important;
        background-color: #fff !important;
    }

    nav,
    .XingView-XingView-sidebar-ad222b3a,
    .ImproveVisibility-ImproveVisibility-wrapper-e1018fde,
    .flyout-button-flyout-button-body-44744b4a,
    .flyout-button-flyout-button-wrapper-8885493f {
        visibility: hidden;
        background-color: transparent !important;
    }

    /* Besuscher Statistik */
    div.show-more-ShowMore-collapsable-6502bf5c:nth-child(2) > div:nth-child(5) > div:nth-child(1),
    .styles-grid-col-2554aa7b,
    .styles-grid-c-12-59417792,
    .Header-Header-heading-9de5a6a4 {
        page-break-before: always;
    }
    .styles-container-gridContainer-1a6b8974,
    .styles-container-standardGridContainer-09281107 {
        width: 100%;
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .chart {
        width: 100% !important;
    }
}
}

@-moz-document domain("xing.com") {
/* zu viele Bereiche sind einzeln eingefärbt, deshalb alle auf transparent setzen */
* {
    background-color: var(--reset-bg) !important;
}

body,
main,
footer,
.foundation-root.container,
div[class^="skins-shell-wrapper-"],
div[class^="SearchBarXdl-SearchBar-suggestions-"],
.SettingsDropdownList-SettingsDropdownList-itemList-3dafcb00,
.src-ModalContent-base-9d0ba1a7 {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    font-family: sans-serif !important;
}

/* Etwas höflicher ######################################################################## */
#people > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1),
#from_user > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1) {
    visibility: hidden;
    position: relative;
}
#people > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Von Ihren Kontakten";
}
#from_user > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Ihre Beiträge";
}
/* ========================================================================================== */
.text,
input {

    background-color: var(--input-color) !important;
}

header {
    color: var(--header-text) !important;
    background-color: #18242B !important;
    font-family: sans-serif !important;
}


div.styles-grid-row-d520b127:nth-child(1) {
    border: 0px !important;
}

div[class^="Startpage-Startpage-topBlock-"] {
    border-color: transparent !important;
}


/* kontaktanfregen */
.malt-grid-index-col-487cf784 {
    margin: 0px;
}
.malt-grid-index-grid-cd8a955e {
    padding: 0px;
}
li.ListItem-ListItem-listItem-0d443f40 {
    margin-bottom: 1em;
}

.VompBox-VompBox-vompBox-c01a43fe, /* hoem statistik mdeium */
div[class*="statistics-Statistics-premiumWrapper-"],
li [class*="show-more-ShowMore-wrapper-"],
section[id^="profiles_vomp_unfenced:vomp~"],
section[id^="contacts_contact_confirm"],
section[id^="contacts_new_contact:ct-nc~1~"],
section[id^="events_invitation_user:evt-inv~"],
section[id^="social_comment:soc-cm~1~"],
section[id^="social_like:soc-lk~1~"],
section[id^="communities_like_to_my_post"],
.Item-Item-itemContent-2a84b3b7,
.hovercard positioning-above-left,
li.ListItem-ListItem-listItem-0d443f40,
.malt-grid-index-c-12-5b9e8c8c > div:nth-child(2),
div.Tile-Tile-tile-5fa1157e,
.component-layout-card,
.lightbox-handle,
.comm-navigation-dropdown,
.dropdown,
#new-post-form,
nav[class^="VerticalNavigation-VerticalNavigation-nav-"],
nav[class^="Startpage-Startpage-navBar-"],
div[class^="Card-Card-card-dd"],
div[class^="card-CardShell-card"],
div[class^="recommendation-list-recommendation-list-posting"],
div[class^="recent-search-recent-search-container"],
div[class^="main-main-main-"],
div[class*="SpokeHeader-SpokeHeader-container-"],
div[class^="src-ModalWindow-base-"] {
    background-color: var(--card-color) !important;
    border-radius: var(--border-radius);
    padding: 1em;

    border: solid 1px var(--border-color) !important;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)
}

/* von deinen kontakten ================================================================ */
div[class*="WidgetGroup-WidgetGroup-group-"],
#people article p:nth-child(1) {
    hyphens: auto;
    font-size: 0.95em !important;
    max-height: 14em !important;
}

/* statistik Suchergebnisse - funktioniert auch im "Original" nicht */
.Footer-Footer-wrapper-fc73589a {
    font-size: 0.95em
}

/* button: Alle Suchstatistiken ... */
.List-List-button-5bca800e {
    font-size: 0.95em
}


/* mitteilungen ================================================================ */

/* geburtstag */
section[id^="contacts_birthday"] {
    border-left: solid 5px var(--event-birth) !important;  
    border-right: solid 5px var(--event-birth) !important;
}

section[id^="contacts_contact_confirm"],
section[id^="contacts_new_contact:ct-nc~1~"] {
    border-left: solid 5px var(--event-contact) !important;
}

section[id^="contacts_contact_request"] {
    border-left: solid 5px var(--event-contact-req) !important;
}

section[id^="events_invitation_"] {
    border-left: solid 5px var(--event-invitation) !important;
}
section[id^="social_comment:soc-cm~1~"],
section[id^="communities_comment_to_my_post"] {
    border-left: solid 5px var(--event-comment) !important;
}
section[id^="social_like:soc-lk~1~"],
section[id^="communities_like_to_my_post"],
section[id^="communities_like_to_my_comment"] {
    border-left: solid 5px var(--event-like) !important;
}
section[id^="profiles_vomp_unfenced:vomp~"] {
    border-left: solid 5px var(--event-visit) !important;
}

div[class^="entryOverview-entryOverview-button-"],
.presentational-chat-list-list-fe9022c5 {
    background-color: white !important;
    border: 0px !important;
}

div[class^="entryOverview-entryOverview-wrapperForS-"] {
    margin-bottom: 1em
}

.CardGrid-CardGrid-card-f4151da6 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* navigation ================================================================ */
.VerticalNavigation-VerticalNavigation-nav-e1daaa7b {
    min-width: 7em;
}

nav[class^="VerticalNavigation-VerticalNavigation-nav-"] {
    margin: 1em !important;
    padding: 1em !important;
}

a[class^="NavItem-NavItem-"] {
    border-radius: var(--border-radius);
    border-left: solid 0.4em transparent !important;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
a[class^="NavItem-NavItem-"]:hover {
    color: var(--nav-hober-text);
    border-left: solid 0.4em var(--nav-hover-bg) !important;
    border-radius: var(--border-radius);
}

/* icon shadow */
div[class*="IconWithBadge-IconWithBadge-iconWrapper"] {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* was gibt es neues ================================================================ */
.ComBox-ComBox-comBox-3263492b {
    padding: 1em 0 0 0 !important;
    margin-bottom: 2em !important;
}
.card-CardShell-card-29a61377 {
    padding: 0.5em !important;
}
.EntryPoint-styles-entryPoint-728a75a5 {
    padding: 0.5em !important;
}
.styles-grid-m-8-0d1d5bdf {
    Width: 100%;
}


flag-premium-flag-0ab5780a .klartext-archive__item {
    margin: 1em;
}

/* Nachricht schreiben - iframe ============================================= */
.flyout-button-flyout-button-body-44744b4a {
    background-color: rgba(0, 0, 0, 0) !important;
}


/* buttons  reset =====================================++==================== 
Alles transparent setzten und anschließend einzelne einfärben: Das ist weniger Aufwand, wie umgekehrt.
*/
button,
.button-ButtonShell-button-fd31136a {
    border: transparent !important;
    border-radius: var(--button-radius) !important;
    background-color: transparent !important;
}
button:hover {
    color: black !important;
    background-color: var(--button-hover-bg) !important;
}

button[class*="main-search-button"],
button[class*="SettingsDropdown-SettingsDropdown-button"],
button[class*="SearchInput-SearchInput-button"],
button[class*="NotificationCenter-NotificationCenter-button-"],
button[class*="NotificationCenterXdl-NotificationCenter-button-"],
button[class*="SettingsDropdownXdl-SettingsDropdown-button-"],
div[class*="header-settings--notification"],
div[class*="header-settings header-settings--menu"] {
    background-color: var(--button-bg) !important;
    border: 1px solid var(--button-border) !important;
    border-radius: var(--button-radius) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s
}

a.skins-text-button-81134393:nth-child(2) > div:nth-child(1),
button.button-ButtonShell-button-fd31136a:nth-child(4) {    
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  5px 5px 10px #dbdbdb, 
             -5px -5px 10px #ffffff;
}

.skins-filled-selected-cb34f767 {
    color: white !important;
    background-color: #006567 !important;
}



/* chart Profilbesucher */
.Line-Line-line-83a2d26b {
    stroke: var(--line-color);
}

/* premium usw. */
a.VerticalNavigation-VerticalNavigation-me-11e6c4b7:nth-child(1) > figure:nth-child(1) > figcaption:nth-child(2) > span:nth-child(2),
.displayFlag-displayFlag-clickableBadge-f36380a7,
.PremiumPopOver-PremiumPopOver-wrapper-b2b9c835 > button:nth-child(1) {
    background: var(--flag-color);
}

.flag-FlagShell-text-a676758e,
.typography-TextShell-text-a647b5ac,
.PremiumPopOver-PremiumPopOver-wrapper-b2b9c835 > button:nth-child(1) {
    color: var(--flag-text) !important;
}


/* cookie =================================================================== */
.cookie-consent-CookieConsent-container-0bbad4c7 {
    color: white;
    background-color: #006567 !important;
}

/* suchleiste =============================================================== */
input {
    border-radius: var(--input-radius) !important;
}
button[class^="SearchInput-SearchInput-button-"] {
    left: 0px !important;
}
button[class^="button-ButtonShell-button-"] {
    height: 42px !important;
    border: 0px !important;
}


span[class^="badge-BadgeShell-badge"],
span[class^="IconWithBadge-IconWithBadge-notification"],
span[class^="skins-notificationCount-badge-"],
span[class^="skins-small-badge-"] {
    background-color: var(--badge-bg) !important;
    border: 1px solid var(--badge-border) !important;
    color: white !important;
}
/* chat ===================================================================== */
.message-bubble-message-bubble-bubble-2d9feb37 {
    background-color: var(--message-rcv-color) !important;
}
.message-bubble-message-bubble-currentUser-44aeb208 {
    background-color: var(--message-send-color) !important;
}

.presentational-chat-footer-footer-ec5d1933 {
    background-color: var(--message-footer-bg) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


.presentational-chat-list-item-header-5d583be2 {
    background-color: var(--message-list-header) !important;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.2em;
    margin-bottom: 1em;
    color: white !important;
}
.presentational-quick-actions-actionButton-6c090f39 {
    background-color: var(--message-quick) !important;
}

/* smiley list 
.presentational-chat-content-emojiPicker-4361228d,
.emoji-picker-emoji-picker-container-284eef8e {
       height: 300px !important;
}
.emoji-picker-emoji-picker-container-284eef8e  {
     transition: height 0.4s !important;   das läßt sich nicht überschreiben ... js?
} */
/*  presentational-chat-content-show-7d8b4ac2 */
.presentational-chat-header-text-f4f26d98,
.presentational-chat-header-pointer-3da835ce,
.presentational-chat-header-link-2965171f,
.panel-header-panel-header-heading-f530baa3,
.presentational-chat-list-item-headline-052bca22,
.presentational-chat-list-item-datetime-87eacb65 {
    color: white !important;
}

.presentational-chat-footer-composer-7a7aaaed {
    border-radius: var(--border-radius);
    border: 1px solid silver;
}

.presentational-chat-content-emojiPicker-4361228d {
    background-color: white !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* events */
.benefits-box-plus {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: var(--border-radius)
}
.benefit-header {
    background-color: #006567 !important;
    border-radius: var(--border-radius)
}


/* sonstige buttons */
.CommentCounter-CommentCounter-button-81e28d8a,
#people article:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > a:nth-child(1),
button.skins-small-button-864e5244:nth-child(3) {
    border: 0px !important;
    background-color: transparent !important;
    height: 3em !important;
}
#news button:nth-child(1) > div:nth-child(1) > span:nth-child(1) > div:nth-child(1) > svg:nth-child(1),
#people button:nth-child(1) > div:nth-child(1) > span:nth-child(1) > div:nth-child(1) > svg:nth-child(1) {
    color: #006567 !important
}
}
